{% extends './layouts/default.html' %}
{% import './partials/content.html' as mod %}
{% block content %}
    {% set articleText %}
    <p>
        Mit der Industrialisierung haben wir die Verantwortung für unsere Energieversorgung zunehmend an Bürokratien und Institutionen verloren, denen es in erster Linie um ihren Selbsterhalt geht. Wir können also lange darauf warten, dass Beamte, Konzernbosse, Lobbyisten oder Politiker die nötige Transformation unseres Energiesystems vorantreiben.
    </p>
    <p>
        People Power heißt, dass wir uns die Verantwortung für unsere Energie zurückholen. Und die Zeit dafür war nie besser. Zum einen wissen wir, was zu tun ist. Zum anderen verfügen wir über angepasste Technologien (Fahrrad, Internet, Photovoltaikanlage etc.). Schließlich steht es in unserer Macht, hier und jetzt unser Verhalten und unsere Gewohnheiten zu ändern.
    </p>
    {% endset %}
    {{ mod.article(1, 'People Power ist Verantwortung', articleText, 'verantwortung.jpg') }}
    
    
    {% set articleText %}
    <p>
        Ist es die Leidenschaft für Technik, die dich eine Photovoltaikanlage auf deinem Hausdach installieren lässt? Ist es dein Gesundheitsbewusstsein, das Dich mit dem Fahrrad anstatt mit dem Auto fahren lässt? Wahrscheinlich auch.
    </p>
    <p>
        Wir glauben, dass es vor allem die Begeisterung ist, die Dinge zum Besseren zu verändern. People Power entsteht aus innerer Überzeugung, auf freiwilliger Basis, mit viel Durchhaltevermögen und aus der Freude, etwas Sinnvolles zur Erhaltung unseres Planeten zu tun.
    </p>
    {% endset %}
    {{ mod.article(2, 'People Power ist Begeisterung', articleText, 'begeisterung.jpg') }}
    
    
    {% set articleText %}
    <p>
        Unser Planet leidet am Wachstumswahn, am Hyperkonsum von Energie und Rohstoffen, an stetig wachsenden Müllhalden und am Krieg gegen Mensch und Natur. Und das bei bald acht Milliarden Menschen.
    </p>
    <p>
        Es ist die vordringlichste Aufgabe eines jeden von uns, seinen ökologischen Fußabdruck auf ein Maß zu reduzieren, welches ein zivilisiertes Miteinander aller Lebewesen auf der Erde ermöglicht.
    </p>
    <p> 
        People Power bedeutet daher in erster Linie Suffizienz und Befreiung vom Überfluss. Weg von immer neuen Produkten, hin zu Verhaltensänderungen im Sinne der Formel: Refuse, Reduce, Re-Use, Repair, Recycle.
    </p>
    {% endset %}
    {{ mod.article(3, 'People Power ist Begrenzung', articleText, 'begrenzung.jpg') }}
    
    
    {% set articleText %}
    <p>
        Ein Übermaß an technischer Energie und Geschwindigkeit hat unser soziales Gefüge beschädigt und macht uns immer mehr zu isolierten Konsumenten. Die Shopping Mall am Autobahnkreuz saugt Arbeitsplätze und Geld aus den umliegenden Kommunen.
    </p>
    <p>
        Was ist das gute Leben im 21. Jahrhundert? Gemeinsam die Transformation in ein entschleunigtes und nachhaltiges Zeitalter gestalten und dabei Ziele wie Autarkie, Suffizienz und Lokalität verfolgen – mit einem Maximum an sozialer Interaktion und Intelligenz.
    </p>
    {% endset %}
    {{ mod.article(4, 'People Power ist Gemeinsamkeit', articleText, 'gemeinsamkeit.jpg') }}

    {% set articleText %}
    <p>
        Den Ölmultis und sonstigen Nutznießern der vorherrschenden, überwiegend fossilen Verschwendungswirtschaft werden mit der ökologischen und sozialen Transformation unseres Energiesystems Unsummen an Geld entgehen.
    </p>
    <p>
        Diese Transformation wird deshalb nicht ohne Konflikte und Machtkämpfe ablaufen. Und in der Tat schlägt das Imperium auch schon zurück, z. B. mit ehemaligen Ölmanagern in mächtigen Regierungsämtern. Das ist jedoch ein gutes Zeichen, denn es beweist, dass unsere Anstrengungen bereits Früchte tragen.
    </p>
    {% endset %}
    {{ mod.article(5, 'People Power ist Anstrengung', articleText, 'anstrengung.jpg') }}

    {% set articleText %}
    <p>
        Die Energieindustrie unterliegt dem Wachstumszwang und muss uns zu Konsumenten machen – falls nötig auch mit vermeintlich nachhaltigen Konsumgütern wie „Biosprit“ und „Ökostrom“.
    </p>
    <p>
        People Power setzt bei Strom an, der wichtigsten technischen Energie unserer Zeit. Strom lässt uns unsere energetische Kreativität aktiv ausleben, denn Strom kann heute jeder Mensch selbst erzeugen. Und neben Licht und Computerleistung auch andere Energieformen wie Wärme oder Mobilität.
    </p>
    <p>
        Neben der Eigenerzeugung erstreckt sich die energetische Kreativität auch auf das Einsparen, den effizienten Einsatz sowie das Teilen von Energie mit anderen.
    </p>
    {% endset %}
    {{ mod.article(6, 'People Power ist Kreativität', articleText, 'kreativitaet.jpg') }}

    {% set articleText %}
    <p>
        Die heute vorherrschenden Energieprodukte verbergen nahezu perfekt, welche Produktionsbedingungen, welche Eigentumsverhältnisse, welcher Transportaufwand, welche Arbeit und welche Primärenergie in ihnen stecken.
    </p>
    <p>
        Das lässt sich ändern! Und zwar dadurch, dass wir die Nähe zwischen vielen kleinen Produzenten und Konsumenten wieder herstellen. Dadurch fließt nicht nur die Energie auf kurzem Weg, sondern auch das Geld. Das stärkt dezentrale Communities, erhöht die Transparenz und demokratisiert unser Energiesystem.
    </p>
    {% endset %}
    {{ mod.article(7, 'People Power ist Nähe', articleText, 'naehe.jpg') }}

    {% set articleText %}
    <p>
        „Mit 100 Prozent Erneuerbaren Energien werden wir die Energiewende erreichen.“ „Zero Emission Vehicles werden unsere Verkehrsprobleme lösen.“ „Dein Versorger kümmert sich um die Energiewende.“ So oder so ähnlich lauten die Glaubenssätze eines Öko-Marketings, das uns entweder in Apathie versetzen oder zum Konsum von grünen Wohlfühlprodukten verleiten soll.
    </p>
    <p>
        People Power ist kein Glaube, sondern gelebte Praxis. Beim Tun ebenso wie beim Weglassen. Durch ausprobieren, tüfteln, Versuch und Irrtum.
    </p>
    {% endset %}
    {{ mod.article(8, 'People Power ist Praxis', articleText, 'praxis.jpg') }}

    {% set articleText %}
    <p>
        Große, zentralistische Energieversorgungsstrukturen wie Atomkraftwerke und „Stromautobahnen“ sind im Fall von außergewöhnlichen Ereignissen wie Erdbeben oder Terroranschlägen besonders fragil. Wenn wir unsere Energieversorgung von ihnen abhängig machen, sind auch wir verwundbar.
    </p>
    <p>
        Unseren Energiekonsum zu reduzieren und unseren restlichen Bedarf dezentral und kleinteilig selbst zu produzieren, macht unser Energiesystem robust oder sogar antifragil.
    </p>
    <p>
        Antifragilität ist die Eigenschaft oder Fähigkeit, sich unter Unsicherheit, Variabilität, Störungen und Stress zu verbessern. Stell dir eine Kommune vor, die nach Energieautarkie strebt. Einem größeren Stromausfall oder stark steigenden Ölpreisen sieht diese Kommune gelassen entgegen. Denn sie weiß, dass sie im Vergleich zur nächstgelegenen „Schlafstadt“ gestärkt aus einer Energiekrise hervorgehen würde. Schließlich hat sie sich vorbereitet: durch Einsparmaßnahmen, die Schaffung lokaler Arbeitsplätze sowie den Aufbau eigener Versorgungsstrukturen.
    </p>
    {% endset %}
    {{ mod.article(9, 'People Power ist Antifragilität', articleText, 'antifragilitaet_schubkarre.jpg') }}

    {% set articleText %}
    <p>
        Selbstbestimmung, Unabhängigkeit und Freiheit sind erstrebenswerte Zustände, die wir auch bei unserer Energie verwirklichen können. Zum Beispiel durch Einsparung, Eigenproduktion und den vernünftigen Einsatz von vielfältiger, einfacher und bezahlbarer Technologie. Freie Menschen brauchen keine Energiesklaven wie SUVs, Flugzeuge oder Klimaanlagen.
    </p>
    <p>
        Da wir soziale Wesen sind und eine totale Autonomie des Individuums in einer vernetzten Welt auch wenig sinnvoll wäre, spielt die demokratische Maxime der Subsidiarität auch im Bereich Energie eine wichtige Rolle. Im Stromsektor kann Subsidiarität so aussehen: Jedes Haus versorgt sich zunächst selbst. Bei Bedarf greift es auf Überschüsse der Nachbarschaft oder der Gemeinde zurück. Nur sofern diese nicht ausreichen, wird Elektrizität von entfernteren Gemeinden bzw. größeren Kraftwerken herbeigeschafft.
    </p>
    <p> 
        Mit zunehmender Suffizienz, Selbstbestimmung und Subsidiarität reduzieren wir schrittweise unsere globale Abhängigkeit von derzeit rund 90 Millionen Fass Erdöl pro Tag. Und wir befreien uns von den Nebenwirkungen, die mit unserer aktuellen Energiesucht einhergehen.
    </p>
    {% endset %}
    {{ mod.article(10, 'People Power ist Selbstbestimmung', articleText, 'selbstbestimmung.jpg') }}

    {% set articleText %}
    <p>
        Immer schneller rasen Waren, Viren, Daten und wir selbst um den Globus. Die Geschwindigkeit unserer Kommunikations- und Transportmittel lässt uns glauben, wir seien immer mobiler. Tatsächlich legen wir immer größere Strecken zurück, verbringen immer mehr Zeit vor Bildschirmen und konsumieren immer größere Datenmengen. Gefühlt haben wir immer weniger Zeit.
    </p>
    <p>
        Mit den Energiemengen, die wir uns als hochindustrialisierte Gesellschaft zuführen, haben wir eine Grenze überschritten. Wir sind zu Zwangskonsumenten von Energie geworden, um einfach nur zu arbeiten, zu kommunizieren, zu wohnen oder um von A nach B zu gelangen. Das Übermaß an Energie stiehlt uns die Zeit, lässt den Raum knapp werden, erzeugt eine 2-Klassen-Gesellschaft der wenigen Schnellen und vielen Langsamen und bedroht so unser menschliches Zusammenleben.
    </p>
    <p>
        People Power ist Entschleunigung. Entschleunigung bedeutet: wir verzichten auf Energiesklaven und meiden Hochgeschwindigkeit. Wir bleiben zuhause, gehen zu Fuß oder nehmen das Fahrrad. Wir schaffen Wohnquartiere, in denen auch gearbeitet werden kann und machen Urlaub in der Region. Wir nehmen digitale Auszeiten, lesen Bücher und unterhalten uns persönlich von Mensch zu Mensch.
    </p>
    {% endset %}
    {{ mod.article(11, 'People Power ist Entschleunigung', articleText, 'entschleunigung.jpg') }}

    {% set articleText %}
    <p>
        Unablässige Nachrichten von Krieg, Flucht, Hunger, Terror und Umweltzerstörung können dich verzweifeln und in Lethargie verfallen lassen. Resigniert stellst du dann fest: Die Menschen sind eben schlecht.
    </p>
    <p>
        Doch das ist unrealistisch! Die einzige Konstante ist die Veränderung. Die Vergangenheit erzählt uns Geschichten großartiger Veränderungen zum Guten. Und die Zukunft ist unwägbar, was Handlungsspielräume eröffnet, die wir nutzen können, um Positives zu bewirken.
    </p>
    <p>
        People Power ist die berechtigte Hoffnung, dass der Mensch im Grunde friedliebend, kooperativ und mitfühlend ist. Und dass es in unserer Macht steht, die Dinge jetzt zum Guten zu wenden.
    </p>
    {% endset %}
    {{ mod.article(12, 'People Power ist Hoffnung', articleText, 'hoffnung.jpg') }}

    {% set formText %}
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quas alias provident eos accusantium. Praesentium, asperiores facere? Rerum id quis amet culpa obcaecati corporis est. Hic ad at facere tenetur.
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quas alias provident eos accusantium. Praesentium, asperiores facere? Rerum id quis amet culpa obcaecati corporis est. Hic ad at facere tenetur.
    </p>
    {% endset %}
    {{ mod.form('People Power bist Du', formText)}}
{% endblock %}