<footer>
    <div class="wrap">
        <div class="row">
            <div class="col">
                <h5>Statistics:</h5>
                <ul>
                    <li>Laufzeit: xx Stunden</li>
                    <li>Ort: München</li>
                    <li>Zeit: xx:xx</li>
                    <li>Akku Status: xx%</li>
                    <li>Leistungsverbrauch: xx W</li>
                </ul>
            </div>
            <div class="col">
                <h5>Contact</h5>
                <p>
                    &copy; Buzzn GmbH <br>
                    team [at] buzzn.net
                </p>
                <a href="">Impressum</a><br>
                <a href="">Datenschutz</a>
            </div>
        </div>
    </div>
</footer>